body {
    font-family: Verdana;
}

h1, h2, h3 {
    color: #323230;
}

a {
    text-decoration: none;
    color: #323230;
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

p {
    font-size: 14px;
}

#wrap {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#wrap > header {
    width: 150px;
    float: left;
}

#wrap > header img.logo {
    width: 150px;
    height: 150px;
}

#wrap > header nav {
    margin-top: 10px;
}

header nav ul li {
    margin-bottom: 5px;
    text-align: right;
}

header nav ul li a {
    text-transform: uppercase;
    font-size: 20px;
}

header nav ul li a:hover {
    /*background-color: #F0DB4F;*/
    background-color: #CCC;
}

#wrap > header .social-bookmarks {
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
}

#wrap > header .social-bookmarks img {
    height: 24px;
    width: 24px;
}
header .promote  {
    float:right;
}

div.jsdocs {
    margin-bottom: 15px;
    height: 175px;
}

#wrap > header div.sponsors {
   height: 191px;
   margin-bottom: 15px;
}
#wrap > header div.sponsors h3 {
   border-bottom: solid #CCC 1px;
   text-align: right;
   font-weight: normal;
   text-transform: uppercase;
   padding-bottom: 3px;
}

section.content {
    width: 750px;
    float: left;
    margin-bottom: 40px;
    margin-left: 50px;
}

section.content article aside {
    margin-top: 50px;
}

section.content article div.promote-image{
    float: left;
    margin-bottom: 15px;
}

section.content article div.promote-image img {
	opacity: 0.8;
 
	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
 
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
 
 
section.content article div.promote-image img:hover {  
   opacity: 1;
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

section.content article div.one {
    margin-right: 15px;
}

section.content article div.two {
    margin-right: 15px;
}

section.content article header {
    margin: 0;
    padding: 0;
    height: 150px;
    border-bottom: dotted #323230 1px;
    text-align: left;
}

section.content article h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 120px;
    color: #323230;
    font-weight: normal;
}

section.content article section header {
    border: none;
    height: 30px;
    margin-bottom: 0px;
}

section.content article section header h2 {
    padding-top: 5px;
}

section.content article section p a {
    font-weight: normal;
    text-decoration: underline;
    color: #000;
}

section.content article div.speaker {
    margin-top: 50px;

	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    padding: 10px;
}

section.content article div.speaker h3 {
    margin-left: 180px;
    color: #323230;
}

section.content article div.speaker h3 span {
    color: #666;
}

section.content article div.speaker p {
    margin-left: 180px;
}

section.content article div.speaker ul {
    margin-left: 180px;
    border-top: solid #ccc 1px;
    padding-top: 5px;
}

section.content article div.speaker ul li {
    margin-bottom: 8px;
}

section.content article div.speaker ul li a {
    font-weight: normal;
    text-decoration: underline;
    font-size: 14px;
}

section.content article div.speaker p a {
    font-weight: normal;
    text-decoration: underline;
    color: #000;
}

section.content article div.speaker div.avatar img {
	border: 5px solid #eee;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
    float:left;
}
 
section.content article div.speaker div.avatar img:hover {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
}

section.content article section ul {
    font-size: 14px;
    margin-top: 40px;
}

section.content article section ul li {
    margin-bottom: 10px;
    font-weight: bold;
}

section.content article section ul a {
    font-weight: normal;
    text-decoration: underline;
    color: #000;
}
#wrap > footer {
    clear: both;
    width: 750px;
    margin-left: 200px;
    border-top: dotted #323230 1px;
    padding-top: 18px;
}

#wrap > footer section {
    width: 250px;
    float: left;
    height: 200px;
}

#wrap > footer section header h1 {
    font-size: 18px;
    color: #323230;
    text-transform: uppercase;
    padding-top: 10px;
}

#wrap > footer section li {
    margin-left: 5px;
    font-size: 14px;
    margin-bottom: 8px;
}

#wrap > footer section li a {
    text-transform: uppercase;
    font-size: 12px;
}

#wrap > footer section li a:hover {
    background-color: #F0DB4F;
}

#wrap > footer p {
    clear: both;
    font-size: 13px;
    text-align: center;
    color: #666;
}
