<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <img src="https://www.gravatar.com/avatar/ed7c5100c5f8598e99e854d2b252f59e?s=160&amp;r=g&amp;d=empty.jpg" width="160" height="160" align="left" alt="Leif Singer" />
        </div>
        <div class="box-content">
            <h3>Dr. Leif Singer &mdash; <span class="speaker__talk-name">Social Media in Software Development</span></h3>
            <p>In my research at the <a href="http://www.uni-hannover.de/">Leibniz Universität Hannover</a> and the <a href="https://www.uvic.ca">University of Victoria</a>, I have explored how software developers use social media and other collaboration tools. I want to tell you about:</p>
                <ul class="speaker__topics">
                    <li>a few successful strategies for using Twitter as a software developer;</li>
                    <li>how open source projects succeed at creating a suitable testing culture;</li>
                    <li>how we got computer science students to commit more often;</li>
                    <li>and a few other tidbits from the studies me and my collaborators have conducted.</li>
                </ul>
            <p>If I don't cover something you'd be interested in, interrupt me with questions or hit me up afterwards!</p>
        </div>
    </div>
    <div class="speaker">
        <div class="avatar">
            <img src="https://www.gravatar.com/avatar/6a13783dd00c5dd0e3eee927e33f7ee9?s=160&amp;r=g&amp;d=empty.jpg" width="160" height="160" align="left" alt="Sam Rijs" />
        </div>
        <div class="box-content">
            <h3>Sam Rijs &mdash; <span class="speaker__talk-name">Where Node.js Meets iOS</span></h3>
            <p>Writing iOS apps in Javascript is not a new idea, anymore, at least since companies like Appcelerator (Titanium) built entire business models around corresponding frameworks.</p>
            <p>And yet, Apple manages to open up two exciting new possibilities during the WWDC 2013: The release of the JavaScriptCore Framework as a public API on iOS and OS X, as well as the announcement of an Objective-C to Javascript Bridge.</p>
            <p>I'd like to talk to you about my experiences with these new bridge-technologies, the new ways in which you can use them and finally present to you my own project; Node.app &mdash; a Node.js implementation for iOS.</p>
        </div>
    </div>
</article>
