<article>
    <section>
        <header>
            <h2>Talks</h2>
        </header>
        <div ng-include="talkHeaderTemplate"></div>
    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/damienklinnert"><img src="https://si0.twimg.com/profile_images/1304450255/Foto_5_reasonably_small.JPG" align="left"/></a>
        </div>
        <h3>Damien Klinnert &mdash; <span>Become a node package maintainer</span></h3>
        <p>Node's official package manager <b>npm</b> already has more then 17.000 entries.</p>

        <p>These packages enable node developers to build web applications faster than ever. It's time to give something back to this great community and to contribute your own package.</p>

        <p>Damien Klinnert will show how to become a node package maintainer with a detailed introduction and a best practices talk.</p>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/cburgdorf"><img src="http://gravatar.com/avatar/1bb69b75c5e73a7c9f4ebbc4835d622f?s=150" align="left"/></a>
        </div>
        <h3>Christoph Burgdorf &mdash; <span>How to waste your time on building a mobile quartett game</span></h3>
        <p>While enjoying the awesome fronteers conference in Amsterdam the hannoverjs peeps came up with this crazy idea to build an quartett game with conference speakers.</p>

        <p>Well, but how would you actually rate them? We didn't want to lose all our credit on the interwebs so we quickly dropped the idea.</p>

        <p>However, Christoph started hacking and built quartettjs - a project agnostic game engine - that can be used to build any quartett game on top of it</p>

        <p>He also went on and built a mobile UI with Sencha Touch. Both projects are far from beeing something serious but still deliver plenty of opportunities to base a talk on :)</p>
        <p>This talk is like a surprise egg: framework design, unit testing, sencha touch may or may not be featured in this talk. Attend and figure it out :)</p>
    </div>

    <div class="speaker">
      <div class="avatar">
        <a href="http://twitter.com/#!/PascalPrecht"><img alt="Photo of Pascal Precht" src="http://www.gravatar.com/avatar/447b70556cb99e6dfcfea71942a3e68e?s=150" /></a>
      </div>
      <h3>Pascal Precht &mdash; <span>AngularJS insights</span></h3>

      <p>There are a lot of JavaScript frameworks out there for building web applications. <b>AngularJS</b> is powered by Google and has a lot of interesting
      secrets in it. Secrets you might want to know, when building your own web application with Angular.
      
      <p>Pascal spent some time of figuring out, how
      Angular internally works and will show you not only the anatomy of Angular itself, but also things to remember when dealing with some of Angular's components.

      <p>Learn what HTML would have been had it been designed for applications!</p>
    </div>
</article>