<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <img src="https://www.gravatar.com/avatar/ed7c5100c5f8598e99e854d2b252f59e?s=160&amp;r=g&amp;d=empty.jpg" width="160" height="160" align="left" alt="Leif Singer" />
        </div>
        <div class="box-content">
            <h3>Dr. Leif Singer &mdash; <span class="speaker__talk-name">Social Media in Software Development</span></h3>
            <p>In my research at the <a href="http://www.uni-hannover.de/">Leibniz Universität Hannover</a> and the <a href="https://www.uvic.ca">University of Victoria</a>, I have explored how software developers use social media and other collaboration tools. I want to tell you about:</p>
                <ul class="speaker__topics">
                    <li>a few successful strategies for using Twitter as a software developer;</li>
                    <li>how open source projects succeed at creating a suitable testing culture;</li>
                    <li>how we got computer science students to commit more often;</li>
                    <li>and a few other tidbits from the studies me and my collaborators have conducted.</li>
                </ul>
            <p>If I don't cover something you'd be interested in, interrupt me with questions or hit me up afterwards!</p>
        </div>
    </div>
</article>
