<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/PascalPrecht"><img src="http://www.gravatar.com/avatar/447b70556cb99e6dfcfea71942a3e68e?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Pascal Precht - <span class="speaker__talk-name">Componentize all the things!</span></h3>

            <p>You've heard about Web Components and Polymer? They seem to be the next big thing that will change the way we develop web applications but you don't really get what the relation between these two things is, or how they work? Then this talk is for you!</p>
            <p>Actually, Web Components are technologies you can use right now already. They are fully supported in modern browsers like Chrome and Opera and are currently implemented in Firefox as well. In this talk, we'll take a look at what Web Components actually are and how they work. I'll walk you through the four technologies that are behind the Web Components specification and show you how they can be used to build your own custom web components.</p>
            <p>We'll also take a look at what Polymer actually is and how to use this library to make the development of custom web components even easier. After this session you should have an in-depth understanding of Web Components and be ready to build your own to componentize all the things.</p>
        </div>
    </div>
</article>
