<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <img src="https://1.gravatar.com/avatar/b32bdb1fc9fdadeb45d7a1267fdd2fc4?d=https%3A%2F%2Fidenticons.github.com%2F3540d6b314e2116e054cd2265b647164.png&r=x&s=440
" width="160" height="160" align="left" alt="Pascal Precht" />
        </div>
        <div class="box-content">
            <h3>Pascal Precht - <span class="speaker__talk-name">Taking angular-translate to the next level</span></h3>
            <p>Bringing i18n to Angular apps works like a charm when using the angular-translate module. We've been working on
            version 2.0 for months now and it brings plenty new features.</p>

            <p>In this talk, i'll show you the new features and breaking changes that come with angular-translate 2.0.</p>
            <p>
        </div>
    </div>
    <div class="speaker">
        <div class="avatar">
            <img src="https://1.gravatar.com/avatar/fbb82394e50fa1c4d066d6f76fb14e09?d=https%3A%2F%2Fidenticons.github.com%2F401706904823edbd59f11320e279146c.png&r=x&s=440
" width="160" height="160" align="left" alt="Pascal Precht" />
        </div>
        <div class="box-content">
            <h3>Jan-Oliver Pantel - <span class="speaker__talk-name">Amazing realtime apps with sails and Angular</span></h3>
            <p>When it comes to realtime apps, there are plenty of cool frameworks on the line. Sails introduces a node based MVC backend framework. With its awesome socket.io routing and fully RESTish design developers will love to work with it.</p>
            
            <p>This talk will cover a description of sails and its functionalities. Also the connection to frontend frameworks (in this case Angular) will be presented.</p>
        </div>
    </div>
        <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/cburgdorf"><img src="http://gravatar.com/avatar/1bb69b75c5e73a7c9f4ebbc4835d622f?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Christoph Burgdorf - <span class="speaker__talk-name">sofa.io - the CouchCommerce Web App SDK for Magento, Shopware, OXID and more</span></h3>

            <p>Traditional e-commerce systems allow to use responsive templates only. The one who likes to impress his customers with a real slick Web App that feels like a native app is still left alone in the rain.</p>
            
            <p><a href="http://www.couchcommerce.com/">CouchCommerce</a> has built an SaaS platform which links up to the customers traditional shop system and generates a Web App as an alternative frontend. The technology behind that is now open sourced as <a href="http://www.sofa.io/">the sofa project</a>. Together with the <a href="http://www.couchcommerce.com/">CouchCommerce</a> platform and <a href="http://www.sofa.io/">the sofa project</a> developers and agencies can create e-commerce Web Apps for lots of different shopping systems in a much easier and more efficient way.</p>

            <p>In his talk Christoph will show how to build a simple demo shopping app with sofa and AngularJS</p>
        </div>
    </div>
</article>
