<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/JanPantel"><img src="http://gravatar.com/avatar/fbb82394e50fa1c4d066d6f76fb14e09?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Jan-Oliver Pantel - <span class="speaker__talk-name">SOLID - 5 characters for better code</span></h3>

            <p>
                As everything object-oriented software has its benefits and pitfalls.
            </p>

            <p>
                When it comes to good code design the SOLID pattern is the way to go. With ES6 (and also today with frameworks like Angular)
                also frontend developers are empowered to write SOLID code.
                In this talk I will show you how you power up your code quality by sticking to those 5 simple rules.
            </p>

            <p>
                Beside this we will have a look at some real world patterns that are related to SOLID.
            </p>
        </div>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/cburgdorf"><img src="http://gravatar.com/avatar/1bb69b75c5e73a7c9f4ebbc4835d622f?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Christoph Burgdorf - <span class="speaker__talk-name">The best Angular yet!</span></h3>

            <p>
                With all the buzz around Angular 2.0 it may be easy to believe that the development of Angular 1.x went already stale.
                Fortunately this couldn’t be more wrong. The recent release of Angular 1.3 brought a whole set of great improvements,
                fixes and features. While some of them have already been spread in the internet,
                there's still a lot of stuff that seems to be overlooked.
            </p>

            <p>
                In this talk Christoph will shed some light on the most important changes that happened since then.
                If you're still not convinced upgrading to the latest version, this talk is for you!
            </p>
        </div>
    </div>
</article>
