<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <img src="https://1.gravatar.com/avatar/b32bdb1fc9fdadeb45d7a1267fdd2fc4?d=https%3A%2F%2Fidenticons.github.com%2F3540d6b314e2116e054cd2265b647164.png&r=x&s=440
" width="160" height="160" align="left" alt="Pascal Precht" />
        </div>
        <div class="box-content">
            <h3>Pascal Precht - <span class="speaker__talk-name">Taking angular-translate to the next level</span></h3>
            <p>Bringing i18n to Angular apps works like a charm when using the angular-translate module. We've been working on
            version 2.0 for months now and it brings plenty new features.</p>

            <p>In this talk, i'll show you the new features and breaking changes that come with angular-translate 2.0.</p>
            <p>
        </div>
    </div>
</article>
