<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/BFreakout"><img src="https://pbs.twimg.com/profile_images/1134431217/GregorBiswanger_bearbeitet_Final.jpg" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Gregor Biswanger - <span class="speaker__talk-name">Einstieg in die Hybrid App Entwicklung</span></h3>
            <p>
                Die Entwicklung von Apps ist nicht einfach und jede “Systemwelt” hat ihre eigenen Tools und Anforderungen. Ob mit Java und Eclipse für Android, mit Objective-C und Xcode für iOS, oder mit den Microsoft-Tools für die Windows-Welt.
            </p>
            <p>
                Bei diesem Vortrag lernen Sie die vielfältigen Möglichkeiten der App-Entwicklung für alle gängigen Plattformen mit nur einer Programmiersprache kennen: HTML5 und JavaScript. Sie steigen mit den Grundlagen des kostenlosen Intel XDK ein und werden dann mit den wichtigsten Frameworks und Vorgehensweisen vertraut gemacht. Mit diesen Infos steigen Sie rasch auf zum versierten Cross-Plattform Entwickler.
            </p>
        </div>
    </div>
</article>
