<article>
    <section>
        <header>
            <h2>Talks</h2>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/cburgdorf"><img src="http://gravatar.com/avatar/1bb69b75c5e73a7c9f4ebbc4835d622f?s=150" align="left"/></a>
        </div>
        <h3>Christoph Burgdorf &mdash; <span>Using AngularJS for your regular website</span></h3>
        <p>At CouchCommerce Christoph helped to replace their old website with a new shiny AngularJS powered replacement. In his talk Christoph will shed light on the question if AngularJS is a good fit for regular websites or not. He will answer how they managed to built the website within 3 weeks considering that the two main actors had no experience with AngularJS before at all.

        <p>What also will be covered is how they tackled the challenges with SEO that come along with a client side architecture.</p>

        <p>If you are in doubt that AngularJS is a good fit for your regular website - this talk is for you!</p>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/pascalprecht"><img src="https://secure.gravatar.com/avatar/b32bdb1fc9fdadeb45d7a1267fdd2fc4?s=150" align="left"/></a>
        </div>
        <h3>Pascal Precht &mdash; <span>Lessons learned: Building a i18n module for AngularJS</span></h3>

        <p>Two months ago, Pascal Precht started developing a module for AngularJS to make i18n in apps as easy as possible. This module grew with the time and a lot
        design decisions have been made by him and the contributors.</p>

        <p>Pascal will talk about what he learned when it comes to build flexible, re-usable components for AngularJS.</p>
    </div>
</article>
