<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/RobinThrift"><img src="https://secure.gravatar.com/avatar/8c7e62e1212f1e215cd3d460e1d8e8bf?s=150
" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Robin Thrift - <span class="speaker__talk-name">React.js - A JavaScript library for building user interfaces</span></h3>
            <p>
                React is the V in MVC, but it's more than just a fancy new templating language. This talk aims to demystify React.js,
                what it is, and why you should use it.
            </p>
        </div>
    </div>
</article>
