<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/cburgdorf"><img src="http://gravatar.com/avatar/1bb69b75c5e73a7c9f4ebbc4835d622f?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Christoph Burgdorf - <span class="speaker__talk-name">ninya.io - a search engine to make skilled people in tech more discoverable</span></h3>

            <p>
                <a href="http://www.ninya.io">ninya.io</a> is all about making skilled people in tech more discoverable. It might be
                best described as a search engine to find tech people. Basically it let's you search for
                people by their skillset and location.

                For instance <a href="http://www.ninya.io/#/?q=location:%20hannover,%20hanover%20answers:%20javascript,%20angularjs,css,%20html">here are some people from Hannover who seem to be web folks!</a>
            </p>

            <p>Christoph started <a href="http://www.ninya.io">ninya.io</a> as a quick holiday hack in August 2013. Since then it has grown into a serious project with it's own set of challenges and fun parts.</p>
            <p>In his talk Christoph will talk about the tech stack, including it's turbulent history, challenges and future plans.</p>

            <p>As a bonus you might see some Go code in this talk!</p>
        </div>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="https://twitter.com/SRamuschkat"><img style="width: 160px;" src="http://www.tecracer.de/personen/sven.jpg" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Sven Ramuschkat - <span class="speaker__talk-name">Amazon Web Services and how to use them for WebApps</span></h3>

            <p>
                Amazon Web Services is a rock solid foundation with a large basket ob building bricks for your web or mobile applications.
            </p>
            <p>
                In this session you will get a general overview about the most important AWS Services and concepts and also some examples how to use AWS Services directly via the JavaScript API (including adhoc Authentification via the AWS Security Token Services (STS).
            </p>
            <p>
                Sven Ramuschkat from tecRacer is an authorized Amazon Web Services Trainer and has more than 3 years experience with AWS.
            </p>
            <p><a href="http://www.aws-blog.de">www.aws-blog.de<a></p>
        </div>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/JanPantel"><img src="http://gravatar.com/avatar/fbb82394e50fa1c4d066d6f76fb14e09?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Jan-Oliver Pantel - <span class="speaker__talk-name">Advanced data modeling in the frontend</span></h3>

            <p>
                In the days of modern frameworks (like Angular), handling data becomes more and more important to frontend devs.
                Just using simple AJAX calls and working with dumb JSON object became a pain if your application gets more complex.
            </p>

            <p>
                I came accross this problem when starting a side project, for which I've used Angular in the frontend and a Laravel PHP based
                REST-API for the backend. So I decided to implement a frontend ORM which became pretty powerful.
            </p>

            <p>
                Since you can't generalize an ORM for a frontend because every backend has it's own rules, I will give you a starting point
                how you can approach an own ORM implementation for you upcomming projects.
            </p>
        </div>
    </div>
</article>
