<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
          <a href="http://treestructure.net"><img src="https://secure.gravatar.com/avatar/1f85737e359c35941e4d4f9e54718f09?s=150 
" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Martin Baum - <span class="speaker__talk-name">Building a client for OPC-UA in Javascript</span></h3>
            <p>
              OPC-UA is the next hot thing in the embedded and automation ecosystem. I had some fun implementing a client for it in javascript
              for the browser so this is gonna be something like a case study or hitchhikers guide through the not so well known parts of javascript
              like binary conversation, client side encryption, array buffers, bit shifting and floating point arithmetics.
            </p>
        </div>
    </div>
</article>
