<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/pascalprecht"><img src="https://secure.gravatar.com/avatar/b32bdb1fc9fdadeb45d7a1267fdd2fc4?s=150" align="left"/></a>
        </div>
        <h3>Pascal Precht &mdash; <span>Hands on Polymer</span></h3>

        <p>Polymer is a new type of library for the web, built on top of WebComponents, and designed to leverage the evolving web platform on modern browsers.</p>
        <p>Pascal will give you a round trip trough the Polymer world. And how it'll change the world of client side web applications.</p>
        <p>Everything is a an element!</p>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/cburgdorf"><img src="http://gravatar.com/avatar/1bb69b75c5e73a7c9f4ebbc4835d622f?s=150" align="left"/></a>
        </div>
        <h3>Christoph Burgdorf &mdash; <span>5 things you didn't know about rendering performance</span></h3>
        <p>Keeping a web app to run smoothly on 60fps can be a challenging task. Lot's of things can influence performance and are often to be found at quite some hidden places.</p>
        <p>Christoph collected a bunch of lesser known things that have a performance impact which you should be aware of.</p>
    </div>
</article>
