<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/pascalprecht"><img src="https://secure.gravatar.com/avatar/b32bdb1fc9fdadeb45d7a1267fdd2fc4?s=150" align="left"/></a>
        </div>
        <h3>Pascal Precht &mdash; <span>Hands on Polymer</span></h3>

        <p>Polymer is a new type of library for the web, built on top of WebComponents, and designed to leverage the evolving web platform on modern browsers.</p>
        <p>Pascal will give you a round trip trough the Polymer world. And how it'll change the world of client side web applications.</p>
        <p>Everything is a an element!</p>
    </div>
</article>
