<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/JanPantel"><img src="http://gravatar.com/avatar/fbb82394e50fa1c4d066d6f76fb14e09?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Jan-Oliver Pantel - <span class="speaker__talk-name">Docker in the real world</span></h3>

            <p>
                We at CouchCommerce moved our whole backend infrastructure to docker containers.
            </p>

            <p>
                In this talk I want to demonstrate you how <a href="https://www.docker.com/">Docker</a> can make your life easier and
                literally allows anyone to be an infrastructure administrator.
            </p>

            <p>
                This talk could be the first of a whole series of talks that get deeper into docker and
                its friends. So make sure you don't miss it :)
            </p>
        </div>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="http://github.com/nickjanssen"><img src="http://gravatar.com/avatar/7c47fc00c956a234bce99bf0b4aa55c1?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Nick Janssen - <span class="speaker__talk-name">Declarative build configurations</span></h3>

            <p>
                Tools like GruntJS and Yeoman are great, but they can be a headache when you need to maintain several apps. Most web apps share the same build tasks, yet they are usually copied over or generated instead of reusing them.
            </p>

            <p>
                Out of my own frustrating experience with copying and maintaining too many Gruntfiles, I decided to create a declarative build framework called <a href="https://github.com/nickjanssen/angus">Angus</a> that chooses convention over configuration.
            </p>

            <p>
                This talk will explore the problem of build code duplication and how Angus can be used to resolve it.
            </p>
        </div>
    </div>
</article>
