<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/JanPantel"><img src="http://gravatar.com/avatar/fbb82394e50fa1c4d066d6f76fb14e09?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Jan-Oliver Pantel - <span class="speaker__talk-name">Docker in the real world</span></h3>

            <p>
                We at CouchCommerce moved our whole backend infrastructure to docker containers.
            </p>

            <p>
                In this talk I want to demonstrate you how Docker can make your life easier and
                literally allows anyone to be an infrastructure administrator.
            </p>

            <p>
                This talk could be the first of a whole series of talks that get deeper into docker and
                it's friends. So make sure you don't miss it :)
            </p>
        </div>
    </div>
</article>
