<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/JanPantel"><img src="http://gravatar.com/avatar/fbb82394e50fa1c4d066d6f76fb14e09?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Jan-Oliver Pantel - <span class="speaker__talk-name">Microservices at NewStore</span></h3>

            <p>
                We at NewStore decided to go all in with the microservice architecture.
            </p>

            <p>
                Since a lot of programmers dream of building a system like that with all it's nice seperations
                I will give you insights how we solved different thing like service discovery, rpc calls, domain events
                and other architectual things.
            </p>

            <p>
                Also be aware to learn about the drawbacks of microservice architectures ;-)
            </p>
        </div>
    </div>
</article>
