<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/JanPantel"><img src="http://gravatar.com/avatar/fbb82394e50fa1c4d066d6f76fb14e09?s=150" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Jan-Oliver Pantel - <span class="speaker__talk-name">Deployment with dokku</span></h3>

            <p>
                We at CouchCommerce moved our whole backend infrastructure to docker containers deployed via dokku.
            </p>

            <p>
                This talk is a follow up of the last talk at docker.
            </p>

            <p>
                We will get through a deployment process with dokku and I will demonstrate how easy you can setup
                a whole infrastructure including your apps and databases.
            </p>
        </div>
    </div>
</article>
