<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <img src="images/modular-javascript.png" width="160" height="160" align="left" alt="Modular JavaScript" />
        </div>
        <h3>Emanuel Kluge &mdash; <span>Modular JavaScript</span></h3>

        <p>One important aspect of writing software is to keep the code modular. The goal is to have a bundle of distinct pieces, that can be combined at pleasure. Each module ideally serves one purpose.</p>
        <p>Emanuel will give you a brief introduction into the topic. After that he'll shows how to achieve these goals with either RequireJS or Browserify &mdash; two interesting module systems.</p>
    </div>
</article>