<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <img src="https://www.gravatar.com/avatar/7d1393717bccdf931a16009ef97a021a?s=160&amp;r=g&amp;d=empty.jpg" width="160" height="160" align="left" alt="Richard Powell" />
        </div>
        <h3>Richard Powell &mdash; <span>Time Series Graphs With Rickshaw</span></h3>
        <p>Recently I had the pleasure of re-architecting Server Density's graphs <a href="https://blog.serverdensity.com/building-js-graphs-using-backbone-and-rickshaw/">using D3, Rickshaw and Backbone.js</a>.  In this talk I'm going to talk about:</p>
        <ul>
            <li>How to design time series graphs that are insightful and intuitive.</li>
            <li>The backend API's & the data structure that power the graphs.</li>
            <li>How we have use backbone to manage the UI.</li>
            <li>Why Rickshaw is a fantastic library for time-series graphs.</li>
        </ul>
        <p>At the end of this session you will know everything you need to make your own highly interactive time-series graphs using backbone & Rickshaw.</p>
    </div>
    <div class="speaker">
        <div class="avatar">
            <img src="images/modular-javascript.png" width="160" height="160" align="left" alt="Modular JavaScript" />
        </div>
        <h3>Emanuel Kluge &mdash; <span>Modular JavaScript</span></h3>

        <p>One important aspect of writing software is to keep the code modular. The goal is to have a bundle of distinct pieces, that can be combined at pleasure. Each module ideally serves one purpose.</p>
        <p>Emanuel will give you a brief introduction into the topic. After that he'll shows how to achieve these goals with either RequireJS or Browserify &mdash; two interesting module systems.</p>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/felixwahner"><img alt="Photo of Felix Wahner" src="https://secure.gravatar.com/avatar/b90a1545665a9c9bed585287ececab69?s=150" /></a>
        </div>
        <h3>Felix Wahner &mdash; <span>Javascript ALL THE THINGS!</span></h3>

        <p>
            With upcoming controllers like <a href="http://www.espruino.com/">Espruino</a> and <a href="http://tessel.io/">Tessel</a> as well as new, programmable input devices  (<a href="https://www.leapmotion.com/">leap motion</a>, <a href="http://www.oculusvr.com/">ocolus rift</a>) and their respective JS-APIs, javascript is steadily evolving and shifting into the physical world.
        </p>
        <p>
            Felix will give a short introduction about the current state of "javascript in the real world" and bring some ideas and stuff to play with.
        </p>
        
    </div>
</article>
