
<!-- ATTENTION! This is the default template which is automatically placed at the talk section in cases
where nobody created a talk template for the month yet. Don't add talks here!
Create a new template and name it MM_YYYY.tpl.html and it will automatically be used.
 -->
<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <p>We don't know the talks for the very next <a href="http://hannoverjs.de/">Hannover.js</a> <b> Meetup on {{talkDate}} </b> yet. Keep an eye on this page, we update it frequently. Feel free to contribute and add yourself to the list! You can also let us know, if there is a topic you really would like to listen in a talk someday on Hannover.js.</p>
    </section>
</article>