@import '../variables.css';

.button {
  display: inline-block;
  padding: 7px 11px;
  color: var(--gray);
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.25s ease;
}

.button:hover {
  color: #fff;
  background: transparent;
}

.secondary {
  border: 1px solid var(--gray);
}

.secondary:hover,
.secondary:focus {
  background-color: var(--gray)
}

.large {
  font-size: 20px;
}
