
<article>
    <header>
    <h1>Contact</h1>
    </header>
    <section>
    <h2>We are waiting for you!</h2>
    <p>There are many different ways to get in touch with <a href="http://hannoverjs.de">Hannover.js</a>. Take a look at the list below and decide how you would like to get in contact with us. We are looking forward to seeing you at the next Hannover.js meetup!</p>
    <ul>
        <li>Twitter: <a href="http://twitter.com/#!/hannoverjs">@hannoverjs</a></li>
        <li>Facebook: <a href="http://facebook.com/hannoverjs">www.facebook.com/hannoverjs</a></li>
        <li>Website: <a href="http://hannoverjs.de">www.hannoverjs.de</a></li>
        <li>Email: <a href="mailto:christoph.burgdorf@bvsn.org">Christoph Burgdorf</a></li>
    </ul>
    <br/>
    <br/>
    </section>
</article>