
<article>
    <header>
        <h1 class="hero-title">{{talkDate}}<br />Edelstall</h1>
    </header>
    <section class="introduction">
        <p>Hannover.js is a usergroup focused on JavaScript and related
        stuff. The idea has gained great interest around lower saxonys JavaScript folks. We meet regularly
            on the 4th thursday every second month at 7pm. at the EDELSTALL (Coworking Space), Capitol Hochhaus, Schwarzer Bär 2, 30449 in Hannover.</p>

        <h2>About</h2>
        <p>As There're many JavaScript usergroups out there, like <a href="http://colognejs.de/">Cologne.js</a>, <a href="http://berlinjs.org">Berlin.js</a>, <a href="http://www.munichjs.org/">Munich.js</a> and 
        <a href="http://www.meetup.com/hamburg-js/">Hamburg.js</a>, <a href="http://twitter.com/#!/cburgdorf">Christoph Burgdorf</a> decided to bring
        another JavaScript usergroup to life in Hannover. So here it is!<p>

        <p>Our sessions focus on specific subjects, such as using JavaScript Patterns, or developing with frameworks. Other meetups are more open and collaborative, e.g. show n’ tells and hack nights. We put as much emphasis into learning new things, as into coming together as a community and making connections that are useful in our daily work as web developers.</p>
    </section>

    <div ng-include="templateUrl"></div>
</article>