
<article>
    <header>
        <h1>Welcome!</h1>
    </header>
    <section class="introduction">
        <header>
            <h2>Hannover's regulary JavaScript Meetup</h2>
        </header>
        <p>Hannover.js is a usergroup focused on JavaScript and related
        stuff. The idea has gained great interest around lower saxonys JavaScript folks. We meet regularly
            on the 4th thursday every second month at 7pm. at the NewStore Hannover office, Bödekerstraße 56, 30161 Hannover.</p>

        <p>The <b>next meetup</b> is held on <b> {{talkDate}}</b>. Checkout the <a href="#talks">Talks</a></p>


        <p>You can keep up to date by following <a href="http://twitter.com/#!/hannoverjs">Hannover.js' tweets</a>,
        sending us a mail, or visting our <a href="http://facebook.com/hannoverjs">Facebook Page</a>.</p>


        <section>
        <p>For more impressions click one of those images and get the full love of the JavaScript-Community
        of Hannover on <a href="http://www.flickr.com/photos/hannoverjs">Flickr!</a></p>

        <aside>
            <div class="promote-image one">
                <a href="http://www.flickr.com/photos/hannoverjs"><img alt="Photo from a HannoverJS meeting" src="images/promote_1.jpg" /></a>
            </div>

            <div class="promote-image two">
                <a href="http://www.flickr.com/photos/hannoverjs"><img alt="Photo from a HannoverJS meeting" src="images/promote_2.jpg" /></a>
            </div>

            <div class="promote-image">
                <a href="http://www.flickr.com/photos/hannoverjs"><img alt="Photo from a HannoverJS meeting" src="images/promote_3.jpg" /></a>
            </div>
            </aside>

        <aside>
            <div class="promote-image one">
                <a href="http://www.flickr.com/photos/hannoverjs"><img alt="Photo from a HannoverJS meeting" src="images/promote_4.jpg" /></a>
            </div>

            <div class="promote-image two">
                <a href="http://www.flickr.com/photos/hannoverjs"><img alt="Photo from a HannoverJS meeting" src="images/promote_5.jpg" /></a>
            </div>

            <div class="promote-image">
                <a href="http://www.flickr.com/photos/hannoverjs"><img alt="Photo from a HannoverJS meeting" src="images/promote_6.jpg" /></a>
            </div>
            </aside>
            </section>
    </section>
</article>
