
<article>
    <header>
    <h1>Speakers</h1>
    </header>

    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/#!/cburgdorf"><img alt="Photo of Christoph Burgdorf" src="http://gravatar.com/avatar/1bb69b75c5e73a7c9f4ebbc4835d622f?s=150" /></a>
        </div>
        <div class="box-content">
            <h3>Christoph Burgdorf <span>(Founder)</span></h3>
            <p>Christoph leads the Frontend team at <a href="http://www.couchcommerce.com/">CouchCommerce</a>. His team and he works hard to ensure that e-commerce will be brilliant in the new post PC era.</p>

            <p>Although he has a strong C# background, his passion does not stop there. In recent years, Christoph has developed a strong affinity for JavaScript. In his spare time he also likes to hack on FOSS projects. His contributions have been made in a variety of projects: <a href="http://banshee.fm">banshee</a>, <a href="http://jqueryui.com">jquery-ui</a>, <a href="http://live.gnome.org/Tasque">tasque</a>, <a href="http://www.trirand.com/blog/">jqGrid</a> to name a few.</p>

            <p>He is also the founder of the Hannover.js event. If you like to hire him for freelance work a short twitter call usually works best!</p>
            <div class="contact">
                <ul class="contact-details-list">
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://cburgdorf.wordpress.com/">www.cburgdorf.com</a></li>
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://twitter.com/#!/cburgdorf/">@cburgdorf</a></li>
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="https://plus.google.com/109268149954739698617/">+Christoph Burgdorf</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/#!/PascalPrecht"><img alt="Photo of Pascal Precht" src="http://www.gravatar.com/avatar/447b70556cb99e6dfcfea71942a3e68e?s=150" /></a>
        </div>
        <div class="box-content">
            <h3>Pascal Precht</h3>
            <p>Pascal is working as a Front-End Engineer at the <a href="http://neoskop.de">Neoskop</a> agency in Hanover Germany. At Neoskop he builds professional client-side front-end applications using the newest technologies. He is a open standards truster, community lover and a JavaScript addict.</p>

            <p>Pascal also speaks at developer meetups such as <a href="http://hannoverjs.de">Hannover.js</a> and gives private workshops. If he doesn't meet code enthusiasts and the weather is on his side, he takes his skateboard to get rid of any code in his head. You can get in touch with him by <a href="http://xing.com/profile/Pascal_Precht">Xing</a>, <a href="http://twitter.com/#!/PascalPrecht">Twitter</a>, <a
                href="http://www.facebook.com/PascalPrecht">Facebook</a> and occur naturally in contact via <a href="mailto:pascal.precht@googlemail.com">email</a>.</p>

            <div class="contact">
                <ul class="contact-details-list">
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://hopelessart.com/">www.hopelessart.com</a></li>
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://twitter.com/#!/PascalPrecht/">@PascalPrecht</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/#!/lsinger"><img alt="Photo of Leif Singer" src="http://gravatar.com/avatar/ed7c5100c5f8598e99e854d2b252f59e?s=150" /></a>
        </div>
        <div class="box-content">
            <h3>Dr. Leif Singer</h3>

            <p><a href="http://leif.me">Leif</a> is a postdoctoral fellow at the <a href="https://www.uvic.ca">University of Victoria</a> in Canada. In his research, he explores how developers work together and how technology can help them with that.</p>

            <p>On the web since 1996, he's been the co-founder of a vc-backed start-up, worked for a local IT consultancy, and financed his studies doing freelance web development.</p>

            <div class="contact">
                <ul class="contact-details-list">
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://leif.me/">www.leif.me</a></li>
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://twitter.com/#!/lsinger/">@lsinger</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/#!/o315"><img alt="Photo of Felix Wahner" src="http://www.gravatar.com/avatar/b90a1545665a9c9bed585287ececab69?s=130" /></a>
        </div>
        <div class="box-content">
            <h3>Felix Wahner</h3>

            <p>Felix is CTO at the Hannover / Germany based communication agency <a href="http://www.neuwaerts.de">neuwaerts</a></p>

            <p>Felix started falling in love with the web back in the days before the first great browser war between Netscape and Microsoft was about to rise. After toying around with "Net Objects Fusion" as a teenager, doing Websites for his friends and family he started an apprenticeship as a Media Designer in 2003 and gathered knowledge working in many large projects as a designer and front-end developer.</p>
            <p>
                Nowadays, apart from designing and building stuff for everything that has a screen, he loves exploring new technologies, optimizing workflows for his team and just "nerding around". Also he has a strong interest in UX, UI, marketing and almost everything that is related to the web.
            </p>
            <p>
                In his free time Felix spends most of his time with his family and his little son. He also is a huge fan of EDM and finds himself getting lost on soundcloud searching for new artists and tracks quite regularly.
            </p>

            <div class="contact">
                <ul class="contact-details-list">
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://www.neuwaerts.de/">www.neuwaerts.de</a></li>
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://twitter.com/felixwahner/">@felixwahner</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/damienklinnert"><img alt="Photo of Damien Klinnert" src="https://de.gravatar.com/userimage/22904112/bcc266e4c8e067cab27583389b5542f3.jpg?size=130" /></a>
        </div>
        <div class="box-content">
            <h3>Damien Klinnert</h3>

            <p>javascript developer && computer science student && working at <a href="http://doctape.com">doctape</a></p>

            <p>Damien Klinnert started programming on a TI-83+ graphical calculator during math lessons in school. However, the calculator was way too slow and so he switched to computer programming. A year later he discovered the awesomeness of the internet and became a web developer.</p>

            <div class="contact">
                <ul class="contact-details-list">
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://damienklinnert.com/">damienklinnert.com</a></li>
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="http://twitter.com/damienklinnert">@damienklinnert</a></li>
                    <li class="contact-details-list__list-item"><a class="contact-details-list__list-item-link" href="https://plus.google.com/115634342929325276305/posts">+damienklinnert</a></li>
                </ul>
            </div>
        </div>
    </div>
</article>