
<article>
    <header>
    <h1>Talk Ideas</h1>
    </header>
    <section>
        <header>
            <h2>Let's brainstorm together!</h2>
        </header>
        <p>No idea what to talk about? Looking for someone to demystify the magic? This is the right place to collect ideas for upcoming talks. No matter if you see yourself as speaker or listener. Share your ideas here!</p>
        <div class="speaker clearfix">
            <div class="avatar">
                <img alt="Chrome" src="images/chrome_logo.jpg" width="130px" height="130px"/>
            </div>
            <h3>Chrome Developer Tools - Know your tools</h3>
            <p>The idea is to provide the audience with all nitty gritty about how to debug and examine a webapp with the Chrome Developer Tools.</p>
        </div>
        <div class="speaker clearfix">
            <div class="avatar">
                <img alt="Require.js" src="images/requirejs_logo.gif" width="130px" height="130px"/>
            </div>
            <h3>RequireJS - Working with modular Javascript</h3>
            <p>Give an introduction to the idea of modularizing JavaScript applications in general. Furthermore demonstrate real-life use-case, f.e. in the context of Backbone.js.</p>
        </div>
        <div class="speaker clearfix">
            <div class="avatar">
                <img alt="Yeoman" src="images/yeoman_logo.png" width="130px" />
            </div>
            <h3>Frontend-Workflow: Bootstrapping and Deployment Tools</h3>
            <p>We'd love to hear someone Talking about: Grunt, yeoman [...add other nifty tools here] and how you use them on a daily basis. Furthermore: What's the best way to handle the intersection between your frontend toolchain and backend related tools (CI: ant, maven, phing, ...).</p>
        </div>
    </section>
</article>