<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <p>Don't miss! Here is a list of all announced talks for the very next <a href="http://hannoverjs.de/">Hannover.js</a> <b> Meetup on 28th of March </b></b>. No topic you like? Feel free to contribute and add yourself to the list! You can also let us know, if there is a topic you really would like to listen in a talk someday on Hannover.js.</p>

    </section>
    <!-- <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/damienklinnert"><img src="https://si0.twimg.com/profile_images/1304450255/Foto_5_reasonably_small.JPG" align="left"/></a>
        </div>
        <h3>Damien Klinnert &mdash; <span>Become a node package maintainer</span></h3>
        <p>Node's official package manager <b>npm</b> already has more then 17.000 entries.</p>

        <p>These packages enable node developers to build web applications faster than ever. It's time to give something back to this great community and to contribute your own package.</p>

        <p>Damien Klinnert will show how to become a node package maintainer with a detailed introduction and a best practices talk.</p>
    </div>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/cburgdorf"><img src="http://gravatar.com/avatar/1bb69b75c5e73a7c9f4ebbc4835d622f?s=150" align="left"/></a>
        </div>
        <h3>Christoph Burgdorf &mdash; <span>How to waste your time on building a mobile quartett game</span></h3>
        <p>While enjoying the awesome fronteers conference in Amsterdam the hannoverjs peeps came up with this crazy idea to build an quartett game with conference speakers.</p>

        <p>Well, but how would you actually rate them? We didn't want to lose all our credit on the interwebs so we quickly dropped the idea.</p>

        <p>However, Christoph started hacking and built quartettjs - a project agnostic game engine - that can be used to build any quartett game on top of it</p>

        <p>He also went on and built a mobile UI with Sencha Touch. Both projects are far from beeing something serious but still deliver plenty of opportunities to base a talk on :)</p>
        <p>This talk is like a surprise egg: framework design, unit testing, sencha touch may or may not be featured in this talk. Attend and figure it out :)</p>
      </div> -->

    <div class="speaker">
      <div class="avatar">
        <a href="http://twitter.com/#!/PascalPrecht"><img alt="Photo of Pascal Precht" src="http://www.gravatar.com/avatar/447b70556cb99e6dfcfea71942a3e68e?s=150" /></a>
      </div>
      <h3>Pascal Precht &mdash; <span>Mastering AngularJS Directives</span></h3>

      <p>Directives are a way to teach HTML new tricks. During DOM compilation directives are matched against the HTML and executed. This allows directives to register behavior, or transform the DOM.</p>

      <p>Angular comes with a built in set of directives which are useful for building web applications but can be extended such that HTML can be turned into a declarative domain specific language (DSL).</p>
      
      <p>Pascal will show you how to use these directives and you'll also learn, how to build your own! This means actually that you'll learn how to teach the browser new tricks!</p>
    </div>
</article>