@use './variables';

.timeline {
    list-style: none;
    position: relative;
    list-style: none;
    margin: 100px 0px;
    padding: 0px;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 10px;
        height: 100%;
        background: variables.$color-primary;
        position: absolute;
        right: 50%;
        transform: translateX(5px);
    }

    &__item {
        width: calc(50% - 50px);

        &:nth-child(even) {
            transform: translatex(calc(100% + 100px));

            .timeline__item-title {
                flex-direction: row-reverse;

                &::after {
                    left: -75px;
                }
            }
        }
    }

    &__item-title {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 50px;
        align-items: center;

        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            background: #fff;
            position: absolute;
            right: -75px;
            border-radius: 50%;
            border: 10px solid variables.$color-primary;
        }
    }

    &__item-content {
        padding: 16px 32px;
        background: variables.$color-primary;
        border-radius: variables.$border-radius;
    }

    &__talk-title {
        margin-bottom: 16px;
    }

    &__speaker {
        display: flex;
        margin-top: 16px;
    }

    &__speaker-avatar {
        width: 80px;
        border-radius: 50%;
        margin-right: 16px;
    }
}
