body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 500;
    max-width: 1074px;
    margin: 0 auto;
    padding: 0 24px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    line-height: 44px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

strong {
    font-weight: 400;
}
