@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Roboto:400,300);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
