@import '../variables.css';

.member {
  flex: 1;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 21px;
}

@media (max-width: 767px) {
  .member {
    margin-bottom: 20px;
    flex: 50%;
  }
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.name {
  font-weight: 400;
}

.link {
  color: var(--yellow);
  text-decoration: none;
}
