@import '../variables.css';

.root {
  display: flex;
  flex-direction: column;
  height: 495px;
  padding: 0 20px;
  background: url(./background.jpg) center center;
  background-size: cover;
  color: #fff;
}

@media (max-width: 767px) {
  .root {
    background-position: 60%;
  }
}

.logo {
  display: flex;
}

@media (max-width: 767px) {
  .logo {
    justify-content: center;
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  transition: all 0.25s ease-in;
}

.claim {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}

.date {
  margin-top: 65px;
  font-size: 24px;
  font-weight: 300;
}

.button {
  margin-top: 22px;
}
