<div class="agenda">
    <ul>
        <li>
            <h1>Welcome & Pizza <time>18:30</time></h1>
            <div>
                Free Pizza, Drinks and a warm welcome from the organizers.
            </div>
        </li>
        <li>
            <h1>Talk <time>19:00h</time></h1>
            <div>
                {{#talks}} {{#title}}
                <div class="talk">
                    <h3>{{ . }}</h3>
                    <div class="talk-description">
                        {{{../description}}}
                    </div>
                    {{#../speaker}}
                    <div class="speaker">
                        <div class="github-avatar">
                            <img src="{{avatarUrl}}" alt="{{name}}" />
                        </div>
                        <div class="spaker-details">
                            <h4 class="speaker-name">{{name}}</h4>
                            {{occupation}} {{#socialName}}
                            <a target="_blank" href="{{../socialUrl}}">{{.}}</a>
                            {{/socialName}}
                        </div>
                    </div>
                    {{/../speaker}}
                </div>
                {{/title}} {{^title}}
                <div class="talk free">
                    <h3>Free Slot</h3>
                    <p>This slot could be yours!</p>
                    <div>
                        <a
                            class="button inverted"
                            target="_blank"
                            href="https://github.com/HannoverJS/talks#submitting-a-talk"
                            >Submit a Talk</a
                        >
                    </div>
                    <p>Need an idea for a talk?<br />We've got you covered!</p>
                    <div>
                        <a
                            class="button inverted"
                            target="_blank"
                            href="https://github.com/HannoverJS/talks/issues?q=is%3Aissue+is%3Aopen+label%3A%22Talk+Idea%22"
                            >View Talk Ideas</a
                        >
                    </div>
                </div>
                {{/title}} {{/talks}}
            </div>
        </li>
        <li>
            <h1>Socializing <time>19:45</time></h1>
            <div>
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla
            </div>
        </li>
    </ul>
</div>
