<!-- <div class="community">
        <ul>
            <li>
                <a target="_blank" href="https://twitter.com/hannoverjs">
                    <svg
                        width="40"
                        height="40"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
 	                    stroke-alignment="outer"
                        aria-label="Twitter"
                        >
                        <use xlink:href="./images/social.svg#twitter"/>
                    </svg>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/hannoverjs">
                    <svg
                        width="40"
                        height="40"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
 	                    stroke-alignment="outer"
                        aria-label="Twitter"
                        >
                        <use xlink:href="./images/social.svg#github"/>
                    </svg>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://slack.hannoverjs.de">
                    <svg
                        width="40"
                        height="40"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
 	                    stroke-alignment="outer"
                        aria-label="Twitter"
                        >
                        <use xlink:href="./images/social.svg#slack"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div> -->
