<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="theme-color" content="#FEDF19" />

        <meta
            name="description"
            content="HannoverJS is a usergroup focused on JavaScript and related topics. We meet regularly on the 4th Thursday of every month at 6.30pm at NewStore, Bödekerstraße 56 in Hannover."
        />

        <link rel="manifest" href="/manifest.json" />
        <link rel="shortcut icon" href="/favicon.ico" />

        <link rel="stylesheet" href="/index.css" />

        <title>HannoverJS – Hannover's Monthly JavaScript Meetup</title>
    </head>
    <body>
        <div id="root">
            <div class="container">
                {{> header}} {{> agenda}} {{> about}} {{> organizers}}
            </div>
        </div>
    </body>
</html>
