@import '../variables.css';

.root {
    margin-top: 64px;
    padding: 0 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.text {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
